
<h1>Vote!!!</h1>


<%= link_to "Batman", pages_batman_path  %>
<div>
  <%= image_tag 'batman', width: '50%', align: 'left' %>

</div>

<%= link_to "Superman", pages_superman_path  %>
<div>
  <%= image_tag 'superman', width: '50%',align: 'right'%>
</div>

